/* Sidebar Styling */
.side-bar {
    overflow: scroll; 
    margin: 4rem;
    padding-top: 30px;
    background-color: var(--sidebar-bg); /* Soft pastel lavender-gray */
    border-radius: 15px; /* Rounded corners for the sidebar */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7); /* Subtle shadow */
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.side-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.time-based, .project-based{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.time-based>li, .project-based>li{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 0.8rem;
    width: 100%;
    border-bottom: 1px solid var(--primary-dark);
}

/* Active state for sidebar items */
.active {
    background-color: var(--primary-dark); /* Darker violet for active items */
    font-weight: bold;
    color: var(--background-color); /* Light text color for contrast */
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

/* Task name styling */
.task-name, .task-count {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.new-task{
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0px;
}

.time-based> *:hover {
    color: var(--primary-dark); /* Change color on hover for better UX */
    background-color: var(--primary-dark);
}

/* Project item styling */
.project-items,
.project-item {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active state for project items */
.project-item .active {
    background-color: var(--primary-dark); /* Darker violet for active items */
    font-weight: bold;
    color: var(--background-color); /* Light text color for contrast */
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

/* Hover effect for project items */
.project-item:hover {
    background-color: var(--primary-dark);
}

/* Optional: Add hover effect to active items */


.side-bar> ul{
    list-style:none;
}