/* Sort Container Styles */
.sort-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    padding: 10px;
    background-color: var(--sortbar-bg); /* Soft pastel lavender */
    border-bottom: 1px solid var(--primary-dark); /* Subtle border for separation */
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color); /* Ensure text color matches theme */
    border-radius: 8px;
    width: 90%;
    height: 3.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

/* Sort Item Styles */
.sort-item {
    cursor: pointer;
    color: var(--text-color); /* Default text color */
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 5px; /* Rounded corners for sort items */
}

/* Hover effect for sort items */
.sort-item:hover {
    color: var(--primary-dark); /* Highlight on hover */
    transform: scale(1.05); /* Slight scale effect for interactivity */
}

/* Task Container Layout */
.task-container {
    padding-top: 20px; /* To make space for the sort bar */
}

/* Individual Sort Item Positioning */
.sort-name {
    margin-left: 1.4rem;
}

.sort-priority {
    margin-left: 17rem;
}
.sort-project{
    margin-left: 0.6rem;
}
