/* Task Container Styles */
.task-container {
    display: flex;
    border: 1px solid var(--primary-dark); /* Soft border in the primary dark theme color */
    border-radius: 8px;
    background-color: var(--task-bg); /* Soft pastel background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding-left: 20px;
    width: 95%;
    overflow: hidden;
}

/* Text Wrapper */
.text-wrapper {
    display: flex;
    align-items: center;
}

/* Title and Project */
.task-title {
    font-size: 1.2rem;
    font-weight: bold;
    width: clamp(5rem,10rem,15rem); /* Limit Title height */
    max-height: 1.5rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden; /* Show ellipsis for overflowed text */
    line-height: 1.5;
}

.task-project {
    font-size: 0.9rem;
    color: #555; /* Keeping the label color as requested */
}

/* Description - Limit size */
.task-description {
    font-size: 1rem;
    width: clamp(5rem,15rem,20rem); /* Limit description height */
    max-height: 1.5rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden; /* Show ellipsis for overflowed text */
    line-height: 1.5;
}

/* Priority and Date */
.task-priority {
    font-size: 1rem;
    font-weight: bold;
}

.task-date {
    font-size: 0.9rem;
}

.done-wrapper {
    display: flex;
    align-items: center;
}

.done-checkbox {
    margin-right: 10px;
}

/* Buttons (Edit, Delete, Details) */
button {
    background-color: #4CAF50; /* Green button for edit */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Slightly darker green for hover */
}

button.delete-button {
    background-color: #f44336; /* Red button for delete */
}

button.delete-button:hover {
    background-color: #e53935; /* Darker red on hover */
}

button.details-button {
    background-color: #2196F3; /* Blue button for details */
}

button.details-button:hover {
    background-color: #1976d2; /* Darker blue on hover */
}

/* Priority Borders */
.task-priority-low {
    border-left: 4px solid #7cb342; 
    /* background-color: #d0f0c0;  */
}

.task-priority-medium {
    border-left: 4px solid #fbc02d; 
    /* background-color: #fff9c4;  */
}

.task-priority-high {
    border-left: 4px solid #e57373;
    /* background-color: #ffcccb;  */
}

