/* Task Container Styles */
.task-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: var(--task-bg); /* Soft pastel background */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    padding-left: 20px;
    width: 90%;
    overflow: hidden;
}

/* Text Wrapper */
.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 1.4rem;
}

/* Title and Project */
.task-title {
    font-size: 1.2rem;
    font-weight: bold;
    width: clamp(5rem,8rem,13rem);
    max-height: 1.4rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden; /* Show ellipsis for overflowed text */
}

.task-project {
    font-size: 0.8rem;
    color: #555; /* Keeping the label color as requested */
    width: 6rem;
    overflow: hidden;
    max-height:1rem ;
    text-align: end;
    font-weight: bold;
}

/* Description - Limit size */
.task-description {
    font-size: 0.6rem;
    width: 11rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden;
    line-height: 1.3;
    font-weight: bold;
}

/* Priority and Date */
.task-priority {
    font-size: 0.7rem;
    font-weight: bold;
    width: 2rem;
    text-align: center;
}

.task-date {
    font-size: 0.8rem;
}

.done-wrapper {
    display: flex;
    align-items: center;
}

.done-checkbox {
    margin-right: 10px;
}

.button-wrapper{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/* Buttons (Edit, Delete, Details) */
button {
    background-color: #133E55; 
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #54C1DF; 
}

button.delete-button {
    background-color: #133E55; 
}

button.delete-button:hover {
    background-color: #54C1DF; 
}

button.details-button {
    background-color: #1f3655; 
}

button.details-button:hover {
    background-color: #54C1DF; 
}

/* Priority Borders */
.task-priority-low {
    border-left: 6px solid #5ba46a; 

}

.task-priority-medium {
    border-left: 6px solid #d89432; 
}

.task-priority-high {
    border-left: 6px solid #f44336;
}

