.task-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
}

.text-wrapper {
    display: flex;
    align-items: center;
}

/* Title and Project */
.task-title {
    font-size: 1.2rem;
    font-weight: bold;
    width: clamp(5rem,10rem,15rem); /* Limit Title height */
    max-height: 1.5rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden; /* Show ellipsis for overflowed text */
    line-height: 1.5;
}

.task-project {
    font-size: 0.9rem;
}

/* Description - Limit size */
.task-description {
    font-size: 1rem;
    width: clamp(5rem,15rem,20rem); /* Limit description height */
    max-height: 1.5rem;
    overflow: hidden; /* Hide overflow */
    text-overflow: hidden; /* Show ellipsis for overflowed text */
    line-height: 1.5;
}

/* Priority and Date */
.task-priority {
    font-size: 1rem;
    font-weight: bold;
}

.task-date {
    font-size: 0.9rem;
}

.done-wrapper {
    display: flex;
    align-items: center;
}

.done-checkbox {
    margin-right: 10px;
}

/* Buttons (Edit, Delete, Details) */
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button.delete-button {
    background-color: #f44336;
}

button.delete-button:hover {
    background-color: #e53935;
}

button.details-button {
    background-color: #2196F3;
}

button.details-button:hover {
    background-color: #1976d2;
}


/*this is for the priority borders*/
.task-priority-low {
    border-left: 4px solid green;
    background-color: #e0f7e9;
}

.task-priority-medium {
    border-left: 4px solid orange;
    background-color: #fff3cd;
}

.task-priority-high {
    border-left: 4px solid red;
    background-color: #f8d7da;
}
