/* Define default variables for pastel violet theme */
:root {
    --background-color: #133E55; /* Light lavender */
    --text-color: #1f3655; /* Dark violet */
    --primary-dark: #7E89A7; /* Soft violet */
    --sidebar-bg: #F2EFEA; /* Pastel lavender-gray */
    --sortbar-bg: #F2EFEA;
    --task-bg: #F2EFEA; /* Light pastel violet */
    --footer-bg: #133E55; /* Soft lavender */
}



/*for future use if i implement a dark and light theme*/
/* Dark theme colors */
[data-theme="dark"] {
    --background-color: #333;
    --text-color: white;
    --primary-dark: #d444c8;
    --sidebar-bg: #444;
    --task-bg: #555;
    --footer-bg: #222;
}