/* Global reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body grid layout */
body {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 0.2fr 1fr 4.5fr 1fr;
    grid-template-areas: "sidebar sortcontent"
                        "sidebar maincontent"
                        "sidebar maincontent"
                        "sidebar footer";
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Sidebar */
.side-bar {
    grid-area: sidebar;
}

/* Main content area */
.main-content {
    grid-area: maincontent;
    background-color: var(--background-color);
    max-width: 100%;
    height: calc(100vh - 15rem);
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.main-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Sorting content area */
.sort-content {
    grid-area: sortcontent;
    height: fit-content;
}

/* Task card styling */
.task {
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px 0;
    background-color: var(--task-bg);
    border-radius: 8px; /* Soft round corners for the cards */
}

/* Footer styling */

.footer {
    background-color: var(--footer-bg);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    font-size: 17px;
    padding: 5px;
    text-shadow: 0 0 7px #ffffff;
    font-family: 'Bellota Text', cursive;
    text-align: center;
    color: #ffffff;
    height: 40px; /* Ensure enough height for footer content */
    position: relative;
}

/* Footer icon styling */
.fa-github {
    color: var(--task-bg);
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.6);
}

/* Link styling */
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color from the parent element */
}

/* Task container styling */
.task-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

/* Modal styling */
.modal {
    display: none;
}

.modal.visible {
    display: block;
}
